layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
        padding: 0;
    }

    /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
    [role="list"] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    body {
        min-block-size: 100vh;
        line-height: 1.6;
    }

    /* h1,
    h2,
    h3,
    button,
    input,
    label {
        line-height: 1.1;
    } */

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    p,
    li {
        text-wrap: pretty;
    }

    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }
}

@layer base {
    @font-face {
        font-family: "WorkSans";
        src: url("./assets/fonts/static/WorkSans-Regular.ttf");
    }

    @font-face {
        font-family: "WorkSansBold";
        src: url("./assets/fonts/static/WorkSans-Bold.ttf");
    }

    @font-face {
        font-family: "WorkSansSemyBold";
        src: url("./assets/fonts/static/WorkSans-SemiBold.ttf");
    }

    :root {
        /* Neutral Colors */
        --color-white: hsl(0, 100%, 100%);
        --color-black: hsl(0, 0%, 0%);

        /* Purple Shades */
        --color-purple-950: hsl(292, 42%, 14%);
        --color-purple-600: hsl(292, 16%, 49%);
        --color-purple-100: hsl(275, 100%, 97%);
        --color-purple-shadow: hsla(282, 100%, 23%, 0.1);

        /* Violet */
        --color-violet-600: hsl(281, 83%, 54%);

        --fs-1: 2rem;
        --fs-2: 1rem;
        --fs-3: 0.875rem;

        --lh-1: auto;
        --lh-2: auto;
        --lh-3: auto;

        --drop-shadow: 0px 32px 56px var(--drop-shadow);
        --spacing: clamp(24px, 2vw, 40px);

        @media (min-width: 768px) {
            --fs-1: 3.5rem;
            --fs-2: 1.125rem;
            --fs-3: 1rem;

            --lh-1: 66px;
            --lh-2: 21px;
            --lh-3: 24px;
        }
    }

    body {
        font-family: "WorkSans", sans-serif;
        color: var(--color-purple-600);
        line-height: var(--lh-1);
    }

    h1 {
        font-family: "WorkSansBold";
        font-size: var(--fs-1);
        color: var(--color-purple-950);
        line-height: 0;
    }

    p {
        font-size: var(--fs-3);
        line-height: var(--lh-3);
    }
}

@layer components {
    .app-container {
        position: relative;
        height: 100vh;
        max-width: min-content;
        background-color: var(--color-purple-100);
        /* padding: var(--spacing); */
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    picture {
        top: 0;
        z-index: 0;
        background-color: transparent;
        overflow: hidden;
        width: 100%;
    }

    .wrapper {
        z-index: 10;
        background-color: var(--color-white);
        position: absolute;
        top: 120px;
        padding: 1.5rem;
        border-radius: 0.5rem;
        filter: drop-shadow(0px 32px 56px var(--color-purple-shadow));
        margin: var(--spacing);
        display: grid;
        gap: 1.5rem;
        max-width: 520px;

        @media(min-width: 768px) {
            gap: 2.5rem;
            padding: 2.5rem;
        }
    }

    .header {
        display: flex;
        gap: 1.5rem;
        flex-flow: row wrap;
    }

    main {
        display: grid;
        gap: 24px;
    }
}